<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Price Tracker</title>
</head>
<body>
    <h1>Product Price Tracker</h1>
    <form action="/add_product" method="post">
        <label for="product_url">Product URL:</label><br>
        <input type="text" id="product_url" name="product_url"><br>
        <label for="target_price">Target Price (BRL):</label><br>
        <input type="number" id="target_price" name="target_price" step="0.01"><br><br>
        <input type="submit" value="Add Product">
    </form>
    <h2>Tracked Products:</h2>
    {% for product in products %}
    <div class="product">
        <div class="name">{{ product.name }}</div>
        <img src="{{ product.image_url }}" alt="Product Image">
        <div class="price">Current Price: R$ {{ product.price }}</div>
        <div class="target-price">Target Price: R$ {{ product.target_price }}</div>
        <div class="delete-button">
            <form action="/delete_product" method="post">
                <input type="hidden" name="product_id" value="{{ product.doc_id }}">
                <button type="submit">Delete</button>
            </form>
        </div>
        <div class="view-product">
            <a href="{{ product.name }}">View Product</a>
        </div>
    </div>
    {% endfor %}
</body>
</html>
