<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Price Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')  }}">
</head>
<body>
    <h1>Product Price Tracker</h1>
    <form class="product-price-form" action="/add_product" method="post">
        <div class="product-url-input">
            <label for="product_url">Product URL:</label><br>
            <input type="text" id="product_url" name="product_url"><br>
        </div>
        <div class="price-input">
            <label for="target_price">Target Price (BRL):</label><br>
            <input type="number" id="target_price" name="target_price" step="0.01"><br><br>
        </div>
        <div class="add-button">
            <button type="submit">Add Product</button>
        </div>
    </form>
    <button class="update-button" type="submit" formaction="/update_prices">Update Prices</button>
    <h2>Tracked Products:</h2>
    <div class="product-container">
        {% for product in products %}
        <div class="product">
            <div class="name">{{ product.name }}</div>
            <img src="{{ product.image_url }}" alt="Product Image">
            <div class="price {% if product.price_comparison == 'lower' %}below-target{% elif product.price_comparison == 'higher' %}above-target{% endif %}">
                Current Price: R$ {{ product.price }}
            </div>
            <div class="target-price">Target Price: R$ {{ product.target_price }}</div>
            <div class="delete-button">
                <form action="/delete_product" method="post">
                    <input type="hidden" name="product_id" value="{{ product.doc_id }}">
                    <button type="submit">Delete</button>
                </form>
            </div>
            <div class="view-product">
                <a href="{{ product.url }}" target="_blank">View Product</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
